<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Actosweb</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ asset('actosweb/plugins/fontawesome-free/css/all.min.css') }}">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{ asset('actosweb/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('actosweb/dist/css/adminlte.min.css') }}">
  </head>
  <body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
          <div class="card-header text-center">
          <a  class="h1"><b>Actos</b>Web</a>
          </div>
          <div class="card-body">
              <p class="login-box-msg">BienVenidos al Sistema de Administración de Actos de Escribania</p>

              <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">

                  {% if error %}
                  <div class="alert alert-danger">
                      {{ error.messageKey|trans(error.messageData, 'security') }}
                  </div>
                  {% endif %}
                  <div class="input-group mb-3">
                      <input type="text" id="username" name="_username" class="form-control" placeholder="Usuario" value="{{ last_username }}" required="required">
                      <div class="input-group-append">
                          <div class="input-group-text">
                          <i class="fas fa-user"></i>
                          </div>
                      </div>
                  </div>
                  <div class="input-group mb-3">
                      <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="_password" required="required" >
                      <div class="input-group-append">
                          <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                          </div>
                      </div>
                  </div>
                  
                  <!-- /.col -->
                  <div class="social-auth-links text-center mt-2 mb-3">
                        <button type="submit" class="btn btn-primary btn-block">
                                <i class="fab fas fa-sign-in-alt"></i> Iniciar Sesión
                        </button>
                  </div>
                  </div>
              </form>

          
          </div>
          <!-- /.card-body -->
      </div>
    <!-- /.card -->
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="{{ asset('actosweb/plugins/jquery/jquery.min.js') }}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{ asset('actosweb/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('actosweb/dist/js/adminlte.min.js') }}"></script>
  </body>
</html>
