{% extends 'base.html.twig' %}
{% block title %}Consultas de Caja - {{ parent() }}{% endblock %}
{% block stylesheets %}
    <!-- DataTables -->
  <link rel="stylesheet" href="{{ asset('actosweb/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('actosweb/plugins/datatables-responsive/css/responsive.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ asset('actosweb/plugins/datatables-buttons/css/buttons.bootstrap4.min.css') }}">
{% endblock %}
{% block body %}
  
      <br><br>
      
      <section class="content">
        <div class="container-fluid">

        <div class="row align-items-center mb-3 mb-xl-5">
          <div class="col-md mb-2 mb-md-0">
            <h1 class="h3 mb-0"><b>Consultas de Caja</b></h1><br>
            <div class="alert alert-warning" role="alert">
              <h1 class="h5 mb-0"> {% if concepto != '' %} <b>{{concepto.nombre}}</b> {% else %} Todos los <b>Conceptos</b> {% endif %}Desde <b>{{ inicio ? inicio|date('d/m/Y') : '"siempre"' }}</b> Hasta <b>{{ fin ? fin|date('d/m/Y') : "now"|date("d/m/Y") }}</b></h1>
            </div>
          </div>
        </div>

        {{ include('base/_flash.html.twig') }}

          <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-search"></i> &nbsp;<b>Buscar Movimientos</b></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      {{ include('caja/_consultar_form.html.twig') }}
                    </div>
                </div>
            </div> 
            <div class="col-8">
               
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title"><i class="fas fa-list"></i> &nbsp;<b>Listado de Movimientos</b></h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example1" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                          <th>Fecha</th>
                          <th>Concepto</th>
                          <th>Detalle</th>
                          <th>Monto ($)</th>
                          <th>Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for m in movimientos %}
                      <tr>
                          <td>{{m.fecha ? m.fecha|date('d/m/Y')}}</td>
                          <td>{{m.concepto.nombre}}</td>
                          <td>{{m.detalle}}</td>
                          <td>{{m.monto}}</td>
                          <td width="80" class="text-right">
                            <a class="m-0 p-1 btn btn-sm" title="Editar registro" style="color:green" href="javascript:void(0)" data-toggle="modal" data-target="#modalContent{{ m.id }}" onclick="con({{m.concepto.id}},{{m.id}})">
                              <i class="fas fa-edit"></i>
                            </a>
                            <a class="m-0 p-1 btn btn-sm" style="color:red;" title="Eliminar registro" href="javascript:void(0)" data-toggle="modal" data-target="#deleteContent{{m.id}}">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                          <th>Fecha</th>
                          <th>Concepto</th>
                          <th>Detalle</th>
                          <th>Monto ($)</th>
                          <th></th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>             
          </div>
        </div>
      </div>        

{% block modal_content %}
  {% for m in movimientos %}
  <div id="modalContent{{ m.id }}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">      
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><i class="fas fa-edit"></i> <b>Actualizar Movimiento</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ include('caja/_edit_form.html.twig', {"mov" : m, "conceptos":conceptos }) }}
        </div>
      </div>
    </div>
  </div>
  <div id="deleteContent{{m.id}}" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        {{ include('caja/_delete_form.html.twig', {"caja" : m.id }) }}
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock modal_content %}


    {% block javascripts %}
    <!-- DataTables  & Plugins -->
    <script src="{{ asset('actosweb/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/datatables-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/datatables-responsive/js/responsive.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/datatables-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/datatables-buttons/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/jszip/jszip.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/pdfmake/pdfmake.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/pdfmake/vfs_fonts.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/datatables-buttons/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/datatables-buttons/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('actosweb/plugins/datatables-buttons/js/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('actosweb/variables.js') }}"></script>

    <script>
        $(function () {
            $("#example1").DataTable({
            "responsive": true, "lengthChange": false, "autoWidth": false, "language": spanish,
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
            });
        });
        $("#caja_monto").val('');
        $("#caja_detalle").val('');

        function con(con,id){
          $('#concepto'+id+' option[value="'+ con +'"]').attr("selected",true);
        }

         
    </script>
    {% endblock %}        
{% endblock %}
