<form method="post" action="{{ path('detalle_edit', {'id': tipo.id}) }}">

    <input type="hidden" name="_token" value="{{ csrf_token('edit' ~ tipo.id) }}">
    <input type="hidden" name="nombreViejo" value="{{ tipo.nombre }}">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="nombre" value="{{tipo.nombre}}">
    </div>
    <div class="form-group">
        <label for="nombre">Porcentaje (%)</label>
        <input type="text" class="form-control" name="porcentaje" id="porcentaje" value="{{tipo.porcentaje}}">
    </div>
    <div class="form-group">
        <label for="valor">Valor ($)</label>
        <input type="text" class="form-control" name="valor" id="valor" value="{{tipo.valor}}">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-sm float-right btn-outline-success mx-2">Guardar Cambio</button>
        <button type="button" class="btn btn-sm float-right btn-outline-secondary" data-dismiss="modal">Cerrar</button>
    </div>

</form>